.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

*.zip
data-raw/*.jpg

notebooks/*.jpg
notebooks/work_dirs
*.jupyterlab-workspace

data/faces/*.jpg
data/*.pickle
data/*.RData
data/detections/*
data/images/*
data/doc/*
data/ocr/*
data/cat/images/*.jpg
data/cat/imgaes/*.jpeg
data/cat/labels/*.json
*.mp4
*.tar.gz
*.xlsx
*.parquet

.ipynb_checkpoints
*.swp

# Model weights
*.pth

#ignore csv
*.csv

annotation/*.html
